*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
header{
    max-width: 100%;
    position: relative;
    min-height: 900px;
    background: url(images/pexels-dương-nhân-1529881.jpeg);
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    background:transparent;

}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 50px;
    line-height: 80px;
}
.logo_hd{
    display: none;
    font-size: 35px;
    font-weight: bold;
    color: white;
    padding: 0 50px;
    line-height: 80px;
}
nav ul{
    float: right;
    margin-right: 0 10px;
    
}
nav li{
    display: inline;
    margin: 0 14px;
    line-height: 80px;
}

nav a{
    color: white;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid transparent;
    padding: 7px 10px;
    text-decoration: none;
}
nav a.active{
    color: #4AD3A2;
}
nav #icon{
    color: white;
    font-size: 25px;
    line-height: 80px;
    float: right;
    margin-left: 40px;
    cursor: pointer;
    display: none;
    z-index: 1;
}

@media (max-width: 1100px){
    nav #icon{
        display: block;
        font-size: 25px;
    }
    nav ul{
        position: absolute;
        width: 70%;
        height: 100%;
        background-color: #2f3640;
        top: 0px;
        left: -1000%;
        text-align: left;
        transition: all .3s ease-in-out;
    }
    nav li{
        display: block;
        margin: 50px 40px;
        line-height: 30px;
    }
    nav li a{
        border-bottom: 3px solid white;
        width: 100%;
        border-width: 50%;
    }
    nav a{
        font-size: 20px;

    }
    nav ul.show{
        left: 0;
    }
    .logo_hd{
        display: block;
        font-size: 35px;
        font-weight: bold;
        color: white;
        padding: 0 50px;
        line-height: 80px;
    }
}
.mid{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
    margin-top: 300px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    line-height: 1.5;
}
.mid #btn{
    padding: 15px 70px;
    margin: 20px;
    font-size: 16px;
    font-weight: 700;
    background-color: #4AD3A2;
    color: white;
    border: none;
    font-family: 'Oswald', sans-serif;
}
.services
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        line-height: 1.6;
        margin-top: 30px;
    }
.services h5{
    margin: 10px;  
    color: #9C9C9C;
    font-family: 'Oswald', sans-serif;  
}
.services h1{
    font-family: 'Oswald', sans-serif;  
    font-weight: 900;
}
.services p{
    width: 900px;
    text-align: center;
    margin: 20px;
    color: #9C9C9C;
    font-family: 'Oswald', sans-serif;  
    line-height: 1.4;
}
.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
    line-height: 1.7;
    font-family: 'Oswald', sans-serif;  
    margin: 40px;
}
.col{
    width: 300px;
    text-align: center;
    cursor: pointer;
    margin: 0px 30px 0px 30px;
}
.col h3{
    margin: 10px 0px 0px 5px;
}
.col p{
    color: #9C9C9C;
    font-family: 'Oswald', sans-serif;  
    margin-bottom: 30px;
}
.col i{
    font-size: 40px;
    color: white;
    background-color:#90DCC1;
    border-radius: 100px;
    padding: 29px;
}
.col #active{
    color: #90DCC1;
    background-color: white;
    border: solid 1px black;
}
.background{
    background: url(images/pexels-arthur-ogleznev-668761.jpeg);
    max-width: 100%;
    min-height: 550px;
    background-size: cover;
}
.how
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        line-height: 1.6;
        margin: 10px;
    }
    .how h1{
        font-family: 'Oswald', sans-serif;  
        margin-top: 20px;
        font-size: 32px;
        font-family: 'Akshar', sans-serif;
        color: #83D5B8;
    }
    .how p{
        width: 900px;
        text-align: center;
        margin: 10px;
        color: #4B4B4B;
        font-family: 'Oswald', sans-serif;  
        line-height: 1.4;
    }
    .col-6{
        width: 220px;
        text-align: center;
        cursor: pointer;
        margin: 0px 10px 0px 10px;
        padding: 20px;
    }
    .col-6 h3{
        margin: 10px 0px 0px 5px;
    }
    .col-6 p{
        color: #4B4B4B;
        font-family: 'Oswald', sans-serif;  
        margin-bottom: 30px;
    }
    .col-6 i{
        font-size: 70px;
        color: #83D5B8;
        border-radius: 100px;
        padding: 29px;
    }

.nav-top{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        background-color: transparent;
        font-family: 'Poppins', sans-serif; 
        font-size: 22px;
}
.col-2{
    max-width: 600px;
    text-align: left;
    padding: 30px;
    margin: 5px;
}
.col-2 p{
    margin: 15px;
    width: 500px;
    font-size: 22px;
    color: #6D6A6A;
}
.col-2 h1{
    color: #5B5959;
    font-size: 30px;
    margin: 15px;
}
.col-2 #btn{
    margin: 15px;
    padding: 15px 70px;
    font-size: 16px;
    font-weight: 700;
    background-color: #0B9E6D;
    color: #fff;
    border: none;
    font-family: 'Oswald', sans-serif;
}
.row-nom{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: flex-end;
        align-content: flex-start;

}
.col-12 img{
    width: 100%;
    height: 200px;
}
.services #btn{
    padding: 20px 45px;
    margin: 15px;
    font-size: 16px;
    font-weight: 700;
    background-color: #0B9E6D;
    border: none;
    color: white;
    font-family: 'Oswald', sans-serif;
}

.background-2{
    background: url(images/BACK-2.jpeg);
    max-width: 100%;
    height: 350px;
    background-size: cover;
}
.col-4{
    width: 250px;
    text-align: center;
    cursor: pointer;
    margin: 0px 30px 0px 30px;
    border: 1px solid #83D5B8;
    padding: 30px;
}
.colona{
    max-width: 650px;
    text-align: left;
    padding: 20px;
    margin: 0px 30px 0px 30px;
}
.colona p{
    color: #9C9C9C;
    font-size: 15px;
}
.colona h3{
    color: #686666;
}
.colona i{
    font-size: 35px;
    float: left;
    color: white;
    background-color:#0B9E6D;
    border-radius: 100px;
    padding: 20px;
    margin: 20px;
}
.background-3{
    background-color: #F7F4F4;
    max-width: 100%;
    min-height: 670px;
}
.background-3 h1{
    color: #0B9E6D;
}
.card{
    position: relative;
    width: 300px;
    height: 380px;
    margin: 10px;

  }
 
  .card .imgBx{
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
  }
  
  .card:hover .imgBx
  {
    bottom: 90px;
  }

  .card .imgBx img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
  }

  .card .details{
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 10px;
      height: 70px;
      text-align: center;
      
  }

  .card .details h2{
   margin: 0;
   padding: 0;
   font-weight: 600;
   font-size: 20px;
   color: #777;
   text-transform: uppercase;
  } 

  .card .details h2 span{
  font-weight: 500;
  font-size: 16px;
  color: #0B9E6D;
  display: block;
  margin-top: 5px;
   }

.card .details button{
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #0B9E6D;
    font-family: 'Oswald', sans-serif;
}
.card .details button:hover{
    padding: 5px 10px;
    border-radius: 5px;
    color: #0B9E6D;
}


.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills h1{
    color: #fff;
    margin: 30px;
    font-size: 30px;
}
.skills p{
    color: #6D6A6A;
}
.background-4{
    /* background: url(https://images.pexels.com/photos/1055613/pexels-photo-1055613.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
     */background-color: #05061A;
        width: 100%;
        min-height: 500px;
        /* background-size: cover; */
}
.col-skills h3{
    text-align: center;
    color: white;
}
.circle-wrap {
    margin: 40px auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #0B9E6D;
}
.circle-wrap .circle .mask {
    clip: rect(0px, 150px, 150px, 75px);
  }
  
  .mask.full,
  .circle .fill {
    animation: fill ease-in-out 3s;
    transform: rotate(135deg);
  }
  
  @keyframes fill{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(135deg);
    }
  }
  .circle-wrap .inside-circle {
    width: 122px;
    height: 122px;
    border-radius: 50%;
    background: #05061A;
    line-height: 120px;
    text-align: center;
    margin-top: 14px;
    margin-left: 14px;
    color: #fff;
    position: absolute;
    z-index: 100;
    font-weight: 700;
    font-size: 2em;
  }
 .col-skills{
    width: 300px;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
    margin-top: 40px;
}
.col-a{
    margin: 20px;
	width: 300px;
    text-align: center;
}
.col-a i{
    color: #0B9E6D;
    font-size: 28px;
    padding: 15px;
}   
.col-a p{
    margin: 5px;
    color: #6D6A6A; 
    font-size: 16px;
}

.background-5{
    background: url(https://images.pexels.com/photos/1055613/pexels-photo-1055613.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    /* background-color: #05061A; */
        width: 100%;
        min-height:650px;
        background-size: cover;
}

.form {
    max-width: 900px;
    margin-top: 30px;
  }
   
form {
    width: 100%;
    display: flex;
    flex-direction: column;

}

form div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
}

form input {
    color: white;
    width: 295px;
    padding: 15px;
    background:none;
    border: 1px solid #fff;
  }
   
  form input:nth-child(2) {
    margin: 0px 30px;
  }
  form textarea{
    background:none;
    border: 1px solid #fff;
    color: white;
    margin-top: 10px;
    padding: 20px;
  }
  #btn{
    padding: 15px 70px;
    margin: 10px;
    font-size: 16px;
    font-weight: 700;
    background-color: #4AD3A2;
    color: white;
    border: none;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
  }
  #btn:hover{
      background-color: #086845;
  }

  .f_last{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background-color: black;
    color: white;
    gap: 15px;
  }
  .logo-slider{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
}

@media only screen and (max-width: 400px) {
    .row{
        margin-top: 20px;
    }
    .services{
        text-align: center;
        width: 100%;
    }
    .services p{    
        margin: 0;
        width: 300px;
    }
    
    form input {
        color: white;
        padding: 15px;
        margin: 0;
        background:none;
        border: 1px solid #fff;
      }
      textarea{
        width: 100%;
        display: flex;
        padding: 20px;
    }
    form div{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        margin: 10px;
    }
    #btn{
        margin: 30px;

    }
    .mid h1{
        font-size: 43px;
        margin: 10px;
    }
    .mid #btn{
        padding: 12px 40px;
        margin: 20px;
        font-size: 16px;
        font-weight: 700;
        background-color: #4AD3A2;
        color: white;
        border: none;
        font-family: 'Oswald', sans-serif;
    }
    form textarea{
        margin-top: 10px;
        padding: 0px;
      }
    .background-4{
        padding: 30px;
    }
  .card{
      display: block;

  }
  
    .background{
        display: block;
    }
    .col-6{
        width: 210px;
        text-align: center;
        cursor: pointer;
        padding: 20px;
    }
    .col-6 i{
        font-size: 40px;
        color: #83D5B8;
        border-radius: 100px;
        padding: 29px;
    }
    .how
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        align-content: stretch;
        line-height: 1.6;
    }
    .how p{
        width: 350px;
        text-align: center;
        color: #4B4B4B;
        font-family: 'Oswald', sans-serif;  
        line-height: 1.4;
    }
    .background-2{
        height: 800px;
        background-size: cover;
    }
    .col-4{
        margin: 10px;
    }
    .nav-top{
        display: flex;
        justify-content: space-around;
        padding: 10px;
        background-color: transparent;
        font-family: 'Poppins', sans-serif; 
        font-size: 17px;
        flex-direction: column;
}
.col-2{
    max-width: 600px;
    text-align: left;
    padding: 0;
}
.col-2 img{
    width: 100%;
}
.col-2 p{
    margin: 15px;
    width: 360px;
    font-size: 22px;
    color: #6D6A6A;
}
.col-2 h1{
    color: #5B5959;
    font-size: 30px;
    margin: 15px;
}
.col-2 #btn{
    margin: 15px;
    padding: 15px 70px;
    font-size: 16px;
    font-weight: 700;
    background-color: #0B9E6D;
    color: #fff;
    border: none;
    font-family: 'Oswald', sans-serif;
}

}
